/* product container style sheet */
.product-container{
    background-color: gainsboro;
    padding: 35px 10px;
    margin-top: 15px;
    border-radius: 5px;
}
.product-img{
    width: 350px;
    height: 250px;
    border-radius: 02.5px;
}